table,th,td{

    border: 2px solid black;
    border-collapse: collapse;

}
th,td{
    padding: 20px;
}
table{
    height: 500px;
    width:100%;
    background-color: gray;
}
tr.head1{
    background-color: #d9a816;
}
.col1{
    background-color: #d9a816;
}